@{
    var products = await productService.GetByTagAsync("new");
    ViewData["Title"] = "Related Products";
}

@model RelatedProductsViewModel

<section class="related-products">
    <h1 class="section-title">
        @ViewData["Title"]
    </h1>

    <div class="container">
        @if (products != null)
        {
                <div class="grid">
                @foreach (var product in products)
                {
                        <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="product" />
                }
                </div>
        }
    </div>
</section>