<section class="five-cards">
    <div class="container">
        <div class="images">
            <img src="~/Images/placeholders/small-card1.png" alt="" />
            <img src="~/Images/placeholders/small-card2.png" alt="" />
            <img src="~/Images/placeholders/small-card3.png" alt="" />
            <img src="~/Images/placeholders/small-card4.png" alt="" />
            <img src="~/Images/placeholders/small-card5.png" alt="" />
            <img src="~/Images/placeholders/small-card1.png" alt="" />
        </div>
    </div>
</section>