<section class="grid-collection" style="padding-top: 10rem;">
    <h5 class="office-title">BACK OFFICE</h5>

    <div class="container">

        <div class="manage">
            <div class="create">
                <a asp-controller="admin" asp-action="allUsers" class="new">SEE ALL USERS</a>
                <a asp-controller="userRegister" asp-action="index" class="new">ADD USER</a>
            </div>

            <div class="manage">
                <div class="create">
                    <a asp-controller="products" asp-action="index" class="new">SEE ALL PRODUCTS</a>
                    <a asp-controller="products" asp-action="register" class="new">ADD PRODUCT</a>
                </div>
            </div>

        </div>
    </div>
</section>