@import '../../core/fonts';
@import '../../core/colors';
@import '../../core/mixins';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: $color-dark-2;

    // finns det smidigare sätt?
    
    margin-top: auto;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;


        p {
            text-align: center;
            margin: 40px 0 40px 0;
            color: $copyright-color;
            padding: 0;
            margin: 0;
        }
    }

}